<div class="row  border-bottom">
    <div class="col-lg-12">
        <div class="tab_title">
            <ul class="nav nav-pills">
                <li {% if current == "index" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/stat/index') }}">财务统计</a>
                </li>
                <li {% if current == "food" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/stat/food') }}">售卖统计</a>
                </li>
                <li {% if current == "member" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/stat/member') }}">会员消费统计</a>
                </li>
                <li {% if current == "share" %} class="current" {% endif %}>
                    <a href="{{ buildUrl('/stat/share') }}">分享统计</a>
                </li>
            </ul>
        </div>
    </div>
</div>